body{
	height:1600px;
    background:url('../images/oceanbg.jpg');
    background-repeat:no-repeat;
    
}	

/* foreground (front fish)*/
div#parallax-bg-1{
	position: fixed;
	width: 1200px;
	top: 0;
	left: 50%; 
	margin-left: -600px; 
	z-index: 1;
}
/* middle layer*/
div#parallax-bg-2{
	position: fixed;
	width: 1200px;
	top: 0;
	left: 50%; 
	margin-left: -600px; 
	z-index: 2;
}
/* background layer */
div#parallax-bg-3{
	position: fixed;
	width: 960px;
	top: 0;
	left: 50%; 
	margin-left: -470px; 
	z-index: 3;
}
/* foreground */
div#parallax-bg-3 div{
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	overflow:hidden;
}
div#bg-3-1{
	background:url('../images/fishschool.png');
	width:529px;
	height:757px;
}
div#bg-3-2{
	background:url('../images/snapper.png');
	width:603px;
	height:583px;
	top:1050px;
	right:70px;
}
div#bg-3-3{
	background:url('../images/herring.png');
	width:446px;
	height:713px;
	top:1800px;
	right:140px;
}
div#bg-3-4{
	background:url('../images/trout.png');
	width:1104px;
	height:684px;
	top:2800px;
	right:0px;
}
/* middle layer clouds */
div#parallax-bg-2 div{
	background:url('../images/herring.png');
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	width:488px;
	height:138px;
	overflow:hidden;
}

div#bg-2-1{
    background:url
	top:100px;
	left:-310px;
}
div#bg-2-2{
	top:270px;
	right:-70px;
}
div#bg-2-3{
	top:870px;
	left:-300px;
}
div#bg-2-4{
	top:1120px;
	right:-130px;
}
div#bg-2-5{
	top:1620px;
	left:140px;
}
div#bg-2-6{
	top:720px;
	left:340px;
}

/*background layer fish */
div#parallax-bg-1 div{
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	width:488px;
	height:138px;
	overflow:hidden;
}
div#bg-1-1{
	background:url('../images/trout.png');
	top:200px;
	right:450px;
}
div#bg-1-2{
	background:url('../images/clownfish.png');
	top:420px;
	left:0px;
}
div#bg-1-3{
	background:url('../images/snapper.png');
	top:850px;
	right:-290px;
}
div#bg-1-4{
	background:url('../images/fishschool.png');
	top:1350px;
	left:200px;
}
div#bg-1-5{
	background:url('../images/pufferfish.png');
	top:1200px;
	left:-200px;
}


#head
{
    font-family: cursive;
    font-size:48px;
    font-variant: small-caps;
    margin:10px auto 10px auto;
    text-align: center;
}
